<div class="inline" id="{{ nodeId }}"
      data-kind="{{ nodeKind }}"
>[{{ join(typeParameters, ', ') }}]({{ join(parameters, ', ') }}):
    {{ returnType }}
    <span data-toggle-symbolTable="symbolTable_{{ nodeId }}" class="keyword">=&gt;</span>
    <span data-fold-target="fold_{{ nodeId }}"></span>
    <ul data-fold="fold_{{ nodeId }}">
    {{ join(statements) }}
    </ul></div>