<span id="{{ nodeId }}"
      data-line="{{ line }}"
      data-char="{{ char }}"
      data-kind="{{ nodeKind }}"
      data-referencedNodeId="{{ referencedNodeId }}"
>{% if name == 'this' %}<span class="keyword">{{ name }}</span>{% else %}{{ name }}{% endif %}</span>