<span id="{{ nodeId }}"
      data-line="{{ line }}"
      data-char="{{ char }}"
      data-kind="{{ nodeKind }}"
>
    <span class="keyword">{{ visibility }}</span>
    <span data-toggle-symbolTable="{{ nodeId }}">{{ name }}</span>
    [<span data-fold="fold_{{ nodeId }}_types">{{ join(typeParameters, ', ') }}</span><span data-fold-target="fold_{{ nodeId }}_types"></span>]
    (<span data-fold="fold_{{ nodeId }}_params">{{ join(methodParameters, ', ') }}</span><span data-fold-target="fold_{{ nodeId }}_params"></span>):
    {{ returnType }}
</span>