<div class="inline" id="{{ nodeId }}"
     data-line="{{ line }}"
     data-char="{{ char }}"
     data-kind="{{ nodeKind }}"
>{{ methodName }}[{{ join(typeArguments, ', ') }}]({{ join(methodArguments, ', ') }})</div>