<div class="inline" id="{{ nodeId }}"
     data-line="{{ line }}"
     data-char="{{ char }}"
     data-kind="{{ nodeKind }}"
>
    <span class="keyword">{{ kind }}</span> {{ name }}: {{ type }} = {{ value }}
</div>