<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ namespace }}.{{ toplevelName }}</title>
    <style>
        {{ css }}
    </style>
</head>

<body>
<ul class="toolbar">
    <li>{{ date }}</li>
    <li><a id="action_fold" href="#">fold</a></li>
    <li><a id="action_highlight" href="#">highlight</a></li>
    <li><a id="action_resetHighlight" href="#">reset-highlight</a></li>
    <li><a id="action_nextNode" href="#">next</a></li>
    <li><a id="action_previousNode" href="#">previous</a></li>
</ul>
<div id="code">
    <p class="namespace">{{ namespace }}.{{ toplevelName }}</p>

    <ul id="{{ nodeId }}"
        data-line="{{ line }}"
        data-char="{{ char }}"
        data-kind="{{ nodeKind }}"
    >
        {{ join(uses) }}
        <li></li>
        {{ toplevel }}
    </ul>
</div>
<div class="right-pane">
    <div id="breadcrumb" class="box" style="display: none">
        <div class="box__header">
            <span id="breadcrumb_close" class="box__close">X</span>
            <strong>AST hierarchy</strong>
        </div>
        <div class="box__content">
            <ul class="breadcrumb"></ul>
        </div>
    </div>
    <div id="symbolTable" class="box" style="display: none">
        <div class="box__header">
            <span id="symbolTable_close" class="box__close">X</span>
            <strong>Symbol Table</strong>
        </div>
        <div class="box__content">
            {{ join(symbolTables) }}
        </div>
    </div>
</div>
<div id="errors" style="display:none">
    <div class="error" data-error-target="not-inferred" style="display: none;">
        type not inferred
    </div>
    {{ join(errors) }}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    {{ js }}
</script>
</body>
</html>