<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ namespace }}.{{ toplevelName }}</title>
    <style>
        body {
            font-family: 'DejaVu Sans Mono', monospace;
            font-size: smaller;
        }

        ul, li {
            list-style-type: none;
        }

        .hasError {
            color: red;
            cursor: pointer;
        }

        .namespace {
            font-style: italic
        }

        .keyword {
            font-weight: bold;
        }

        .foldIcon {
            cursor: pointer;
            color: silver;
            font-weight: bold;
            border: 1px solid silver;
            padding: 0 3px;
            user-select: none;
        }

        #errors {
            position: absolute;
        }

        .error {
            border: 1px solid red;
            background-color: pink;
            padding: 2px;
        }
    </style>
</head>

<body>
<p class="namespace">{{ namespace }}.{{ toplevelName }}</p>

<ul id="{{ nodeId }}"
    class="{% if (hasErrors) %}hasError {% endif %}"
    data-kind="{{ nodeKind }}"
>
    {{ join(uses) }}
    {{ toplevel }}
</ul>

<div id="errors" style="display:none">
    {{ join(errors) }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.hasError')
            .mousemove(function (e) {
                $('#errors')
                    .css({
                        top: e.pageY + 10,
                        left: e.pageX + 10
                    })
                    .children().hide().parent()
                    .children('[data-error-target="' + $(this).attr('data-error-target') + '"]').show().parent()
                    .show();
            })
            .mouseleave(function () {
                $('#errors').hide();
            });

        $('[data-fold-target]')
            .each(function (i, e) {
                const foldTarget = $(e).attr('data-fold-target');

                function fold(e) {
                    $('[data-fold="' + foldTarget + '"]').toggle();
                    e.stopPropagation();
                }

                $('<span class="foldIcon" data-fold="' + foldTarget + '">+</span>')
                    .insertAfter($(e))
                    .hide()
                    .click(fold);
                $('<span class="foldIcon" data-fold="' + foldTarget + '">-</span>')
                    .insertAfter($(e))
                    .click(fold);
            });
    });
</script>
</body>
</html>