<table id="symbolTable_{{ nodeId }}">
    <tr>
        <th colspan="2">{{ name }} ({{ hash }})</th>
    </tr>
    <tr>
        <th>Kind</th>
        <th>Name</th>
    </tr>
    {% for symbol in symbols %}
    <tr>
        <td>{{ symbol.kind }}</td>
        <td><span class="symbolTable__link" data-refNodeId="{{ symbol.refNodeId }}">{{ symbol.name }}</span></td>
    </tr>
    {% endfor %}
</table>