<table id="symbolTable_{{ nodeId }}">
    <tr>
        <th colspan="2">{{ name }}</th>
    </tr>
    <tr>
        <th>Kind</th>
        <th>Name</th>
    </tr>
    {% for symbol in symbols %}
    <tr>
        <td>{{ symbol.kind }}</td>
        <td><a class="nodeRef" data-refNodeId="{{ symbol.refNodeId }}" href="#{{ symbol.refNodeId }}">{{ symbol.name }}</a></td>
    </tr>
    {% endfor %}
</table>