<li id="{{ nodeId }}"
    data-line="{{ line }}"
    data-char="{{ char }}"
    data-kind="{{ nodeKind }}"
>
    <span class="{% if (hasErrors) %}hasError {% endif %}" data-error-target="{{ nodeId }}">
        <span class="keyword">{{ visibility }}</span>
        <span class="keyword">type</span>
        {{ typeName }}[{{ join(typeParameters, ', ') }}]:
        {{ superType }}
        <span data-fold-target="fold_{{ nodeId }}"></span>
    </span>
    <ul class="toplevel" data-fold="fold_{{ nodeId }}">
        {% if methods.length > 0 %}
            <li>{{ join(methods, '</li><li>') }}</li>
        {% endif %}
    </ul>
</li>